$small: 600px;

h1 {
  text-align: center;
}

table {
  max-width: 90%;
  margin: 0 auto;
  border-collapse: collapse;

  tr {
    &:nth-of-type(3n) {
      td {
        border-bottom: 4px solid !important;
      }
    }
    &:last-child {
      td {
        border-bottom: none !important;
      }
    }
  }

  td {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    height: 50px;
    width: 50px;
    box-sizing: border-box;

    @media screen and (max-width: $small) {
      height: 30px;
      width: 30px;
    }

    &:first-child {
      border-left: none;
    }

    &:nth-of-type(3n) {
      border-right: 4px solid black;
    }

    &:last-child {
      border-right: none;
    }

    input {
      border: none;
      font-size: 40px;
      text-align: center;
      height: 50px;
      width: 50px;
      box-sizing: border-box;
      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      @media screen and (max-width: $small) {
        height: 30px;
        width: 30px;
        font-size: 15px;
      }
    }
    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
}

.action-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  button {
    margin: 10px;
    width: 200px;
  }
}

.error {
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
}
