<ng-container *ngIf="form"
  ><h1>Sudoku Solver</h1>
  <form>
    <table>
      <tr *ngFor="let row of form.controls">
        <td *ngFor="let col of row.controls">
          <input
            type="number"
            min="1"
            max="9"
            maxlength="1"
            [formControl]="col"
          />
        </td>
      </tr>
    </table>

    <div class="error">
      <mat-error *ngIf="showError">Please enter valid sudoku values</mat-error>
    </div>
    <div class="action-container">
      <button mat-raised-button color="primary" (click)="solveSudoku()">
        Solve
      </button>
      <button mat-raised-button color="accent" (click)="resetForm()">
        Reset
      </button>
    </div>
  </form>
</ng-container>
